# Project exclude paths
/assina-server/assina-app/target/
/assina-server/assina-crypto/target/
/assina-client/node-modules
/assina-client-server/node_modules
/assina-client-server/public
/**/*.log
/**/*.pid
